.icons{
    text-align: center;
	font-size: 2.5rem;
	margin-left: 65px;
}

.icon{
	color: #FA8072;
}

.icon:hover{
	color:#E9967A;
}

@media (max-width: 750px) {
  .mobileFont3 {
  	font-size: 3rem !important;
  }

  .mobileHide {
    display: none;
  }
}

/*
@media only screen and (max-width: 601px) {
  .mobileHide {
    display: none !important;
  }
  .mobileFont3 {
  	font-size: 3rem;
  }
}
@media only screen and (min-width: 602px){
  .desktopHide {
    display: none !important;
  }
}*/

a.toplink{
	text-align:center;
	word-spacing:.4em;
	color:#FA8072;
}

a.toplink:hover{
	color:#E9967A;
}

h3.name{
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	font-size: 2rem;
	float:left;
	padding-left:30px;
	margin-top:10px;
	color:#6D6875;
	margin-right: 10px;
}

p.about{

    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
	font-size: 2rem !important;
	color:#FA8072;
	margin-left:60px !important;
	margin-top: 0px;
}

.hello{
    margin-left:60px !important;
    text-align: center;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	color:#6D6875;
}

a.nom
{
	color: #6D6875;
}

a.nom:hover{
	color:#E9967A;
}

.computer{
	margin-left: 165px;
	width: 105px;
}

.header{

    text-align: center;
		font-size: 3rem;
    color:#6D6875;
    font-family: 'Montserrat', sans-serif;
}

.semi-header{
	text-align: center;
    color:#6D6875;
    font-family: 'Montserrat', sans-serif;

}


#landing
{
	margin-bottom:240px; display: none
}

p.bio{
	text-align: center;

	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	color:#FA8072;
}


#header{
	position: fixed;
	top:0;
	left:0;
	text-align:center;
	background-color: white;
	z-index:1000;
	width:100%;
	padding-bottom:10px;
	padding-top: 10px;
	display:none
}
#nav{
	text-align:center;
	float:right;
	padding-right:30px;
	padding-top:15px;
	font-family: 'Montserrat', sans-serif;
	color:#FA8072;
}

#home{
	padding-bottom:200px;
}

.card{
		text-align: center;
		
}

a.lang-tag{
    color:#17A589;
    font-family: 'Montserrat', sans-serif;
}

a.tool-tag{
    color: #9FA8DA;
    font-family: 'Montserrat', sans-serif;
}

a.soft-tag{
    color: #68a8ff;
    font-family: 'Montserrat', sans-serif;
}
	
	
	
  .salmon{
	background-color: #FA8072;
}

.salmon:hover{
	background-color:#E9967A;
}

.project{
  font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #FA8072 !important;
}


.proj-desc{
    font-family: 'Montserrat', sans-serif;
	color: #6D6875 !important;
}


.card-content p {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.card-title{
	font-family: 'Montserrat', sans-serif;
}

#footer {
	font-family: 'Montserrat', sans-serif;
	height: 75px;
	margin-top: 100px;
	padding-top: 10px;
    width: 100%;
    color: #FA8072;
	text-align: center;
	display: none
}

.computer{
	margin-left: 60px;
	width: 50px;
}

p.job{
	font-size: 2rem !important;
	color:#6D6875;
}

p.date{
	font-family: 'Montserrat', sans-serif;
	color: #F3CD86;
	font-size: .8rem
}

p.tags{
	line-height: 2;
}

ul.desc{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	list-style-type: square !important;
	color: #6D6875;
}

li.elem{
	list-style-type: square !important;
	margin-left: 15px;
	margin-bottom: 5px;
}

.custom-btn{
	text-align: center;
	border-radius: 25px;
	font-size: 1.15rem;
	font-family: 'Montserrat', sans-serif;
}

.icon {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 32px;
	position: relative;
}
.img
{
	width: 50%; 
}

.confetti-piece {
	position: absolute;
	width: 8px;
	height: 16px;
	background: #FA8072;
	top: 0;
	opacity: 0;
}
.confetti-piece:nth-child(1) {
	left: 7%;
	transform: rotate(1901077133deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 259269078651ms;
	animation-duration: 1075245291385ms;
}
.confetti-piece:nth-child(2) {
	left: 14%;
	transform: rotate(14801312096deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 14772280590ms;
	animation-duration: 986721193579ms;
}
.confetti-piece:nth-child(3) {
	left: 21%;
	transform: rotate(85607619465deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 385587424077ms;
	animation-duration: 896420661997ms;
}
.confetti-piece:nth-child(4) {
	left: 28%;
	transform: rotate(73366974776deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 957703687707ms;
	animation-duration: 475927344979ms;
}
.confetti-piece:nth-child(5) {
	left: 35%;
	transform: rotate(226805710723deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 579794767986ms;
	animation-duration: 990516209461ms;
}
.confetti-piece:nth-child(6) {
	left: 42%;
	transform: rotate(162512541629deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 643724615973ms;
	animation-duration: 1026386998843ms;
}
.confetti-piece:nth-child(7) {
	left: 49%;
	transform: rotate(200260412615deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 131379296124ms;
	animation-duration: 668625760555ms;
}
.confetti-piece:nth-child(8) {
	left: 56%;
	transform: rotate(172891452031deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 1049794520745ms;
	animation-duration: 1044442170610ms;
}
.confetti-piece:nth-child(9) {
	left: 63%;
	transform: rotate(143537824483deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 1012523020533ms;
	animation-duration: 904781478253ms;
}
.confetti-piece:nth-child(10) {
	left: 70%;
	transform: rotate(231878679687deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 418655902524ms;
	animation-duration: 815140614874ms;
}
.confetti-piece:nth-child(11) {
	left: 77%;
	transform: rotate(225574739338deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 370834399422ms;
	animation-duration: 1065826856614ms;
}
.confetti-piece:nth-child(12) {
	left: 84%;
	transform: rotate(109418431266deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 945734935482ms;
	animation-duration: 103476422965ms;
}
.confetti-piece:nth-child(13) {
	left: 91%;
	transform: rotate(221845429684deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 345896548773ms;
	animation-duration: 76677689980ms;
}
.confetti-piece:nth-child(odd) {
	background: #9FA8DA;
}
.confetti-piece:nth-child(even) {
	z-index: 1;
}
.confetti-piece:nth-child(4n) {
	width: 5px;
	height: 12px;
	animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
	width: 3px;
	height: 10px;
	animation-duration: 2500ms;
	animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
	background: #17A589;
}
@keyframes makeItRain {
	from {
		opacity: 0;
 }
	50% {
		opacity: 1;
 }
	to {
		transform: translateY(200px);
 }
}


  @-webkit-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}

	100% {
	  -webkit-transform: rotate(360deg);
	}
  }

  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}

	100% {
	  transform: rotate(360deg);
	}
  }

  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
	from {
	  bottom: -100px;
	  opacity: 0
	}

	to {
	  bottom: 0px;
	  opacity: 1
	}
  }

  @keyframes animatebottom {
	from {
	  bottom: -100px;
	  opacity: 0
	}

	to {
	  bottom: 0;
	  opacity: 1
	}
  }
#loader
{
	margin-top: 20%
}

#gif
{
	margin-left: 48%;
}

#about, #projects
{
	display: none
}

